@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Crafty+Girls);

@primary-color: #56D288;
@secondary-color: #E95F97;
@third-color: #ECFC67;

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

body{
  background-color: @primary-color;
}

html, body{
  height: 100%;
}

#map{
  height: 500px;
}

#map-small{
  height: 350px;
}

.container-fluid{
  padding: 0;
  padding: 0;
}

.navbar{
  background-color: @secondary-color;
  border: 0;
  border-radius: 0;
}

.navbar a{
  color: @third-color;
}

form{
  margin-left: 20px;
}

#form-photo{
  margin: 0;
}

thead > td {
  font-weight: bold;
}
